/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    /* background-image: url('path-to-hero-image.jpg'); Replace with your desired background image path */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-section p.lead {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Featured Games Section */
.games-section {
    background-color: #fff;
}

.game-card img {
    border-radius: 5px;
    transition: transform 0.3s;
}

.game-card img:hover {
    transform: scale(1.05);
}

.game-card h3 {
    margin-top: 10px;
}

.buy-button {
    background-color: #f57224;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #d86018;
}

/* Footer */
.footer-section {
  background-color: #333;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 15px;  /* Added some margin for spacing */
}

.footer-links,
.social-links {
  display: flex;
  gap: 20px;  /* Space between links */
  margin: 5px 0;  /* Space between link groups */
}

.footer-links a,
.social-links a {
  color: #b0b0b0;
  transition: color 0.3s;
}

.footer-links a:hover,
.social-links a:hover {
  color: #fff;
}
